{% extends "base.html" %}

{% block title %} MEDmine - History {% endblock %}

{% block body %}

    <div class="d-flex flex-column flex-items-center">
        <div class="block p-2">
            <h3>Search history</h3>
        </div>
        <div class="block p-2">
            <p>Enter a UUID to find an archived search</p>
        </div>
        <div class="col-4 p-2 mx-auto">
            <form method="post">
                <label>UUID: </label><input class="form-control input-block" type="text" name="uuid" required>
                <br>
                <br>
                <button class="btn btn-primary input-block" type="submit">Search</button>
            </form>
        </div>
    {% if hislis %}
        <div class="d-flex flex-column flex-items-center">
            <br>
            <br>
            <h4 class="p2 pt-7 pb-3">Most recent searches:</h4>
            <br>
            <ol>
                {% for i in hislis %}
                <li>{{ i }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% endif %}

{% endblock %}