{% extends "base.html" %}

{% block title %} Gene finder -  Search {% endblock %}

{% block body %}

    <div class="">
        <div class="col-2 p-2 pl-7 mx-auto">
            <h3>PubMed search</h3>
        </div>
        <div class="col-4 p-2 mx-auto">
            <form method="post">
                <div class="input_wrapper">
                    <label>Ziektebeeld (AND): </label><input class="form-control input-block"  type="text" placeholder="bijv. deafness" name="and">
                </div>
                <button class="btn btn-outline mt-2" id="add_button" type="button">+</button>
                <br>
                <br>
                <div class="input_wrapper_OR">
                    <label>Ziektebeeld (OR): </label><input class="form-control input-block" type="text" placeholder="bijv. night blindness" name="or">
                </div>
                <button class="btn btn-outline mt-2" id="add_button_OR" type="button">+</button>
                <br>
                <br>
                <label>Zoekdatum vanaf: </label><input class="form-control input-block" type="date" id="datepicker" name="datepicker">
                <br>
                <br>
                <label>Exclude genpanel: </label><select class="input-block" id="genpanel_selector" name="genpanels">
                    <option value="None">None</option>
                </select>
                <br>
                <br>
                <button class="btn btn-primary input-block" type="submit">Zoeken</button>
            </form>
        </div>
    </div>

{% endblock %}